@charset "utf-8";

/* 팝업 레이아웃 */
/* 일반 페이지 팝업 */
.lypop.normal_pop {display: none;}

/* 고정형 */
.lypop {position: absolute;top: 0;left: 0;z-index: 600;}
.pop_ifrm_wrap {position: relative;}

/* 팝업 닫기 */
.btn_lypop_close {display: block;position: absolute;top: 15px;right: 15px;width: 26px;height: 26px;text-indent: -9999px;background: url(../images/btn-x.png) no-repeat 0 0;background-size: 100% auto;}

/* 팝업 컨텐츠 */
.pop_wrap {position: relative;}
.pop_wrap > .inner {position: relative;}

.pop-btn-area {position: relative;padding: 20px 0 20px 0;text-align: center;}
.pop-btn-area:after {display:block; clear:both; content:"."; visibility:hidden; height:0;}

/*메인 공지사항*/
#pop-notice180816 {background-color: #fff;max-width: 660px;border:2px #192452 solid;border-radius: 15px;}
#pop-notice180816 .pop_wrap {padding: 45px 20px 20px 20px;}
#pop-notice180816 h3 {margin-bottom: 20px;font-size: 1.3rem;font-weight: 600;color: #333;line-height: 1.3;text-align: center;letter-spacing: -0.5px;}
#pop-notice180816 p {font-size: 1rem;text-align: center;line-height: 1.4;letter-spacing: -0.5px;}
